.sass-cache/
logs/*
tmp/
test/
!.gitkeep

# Node
node_modules/
npm-debug.log

# Bower
/app/bower_components/
/app/assets/css/*
!/app/assets/css/.keep
/app/assets/fonts/*
!/app/assets/fonts/.keep
/app/assets/minjs/*
!/app/assets/minjs/.keep
